
.icon-user-plus:before { content: '\e800'; } /* '' */
.icon-edit:before { content: '\e801'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-food:before { content: '\e803'; } /* '' */
.icon-menu-outline:before { content: '\e804'; } /* '' */
.icon-list-add:before { content: '\e805'; } /* '' */
.icon-book-open:before { content: '\e806'; } /* '' */
.icon-trash:before { content: '\e807'; } /* '' */
.icon-edit-1:before { content: '\e808'; } /* '' */