<h1 class="lobster ml30">Add Recipe</h1>
<div class="row">
  <form name="recipeForm" class="form col-md-6">
    <div class="mb10 mt15">
      <div class="input-group input-group-lg col-md-offset-1">
        <span class="input-group-addon"
              id="sizing-addon1">Name</span>
        <input type="text"
               class="form-control"
               ng-model="cookbook.newRecipe.name"
               required>
      </div>
    </div>
    <div class="mb10">
      <div class="input-group input-group-lg col-md-offset-1">
        <span class="input-group-addon" id="sizing-addon1">Ingredients</span>
        <textarea style="height:200px"
                  type="text"
                  class="form-control"
                  ng-model="cookbook.newRecipe.ingredients" required></textarea> 
      </div>
    </div>
    <div class="mb10">
      <div class="input-group input-group-lg col-md-offset-1">
        <span class="input-group-addon"
              id="sizing-addon1">Directions</span>  
        <textarea style="height:200px"
                  type="text"
                  class="form-control"
                  ng-model="cookbook.newRecipe.directions" required></textarea>
      </div>
    </div>
    <div class=" col-md-offset-1 text-center">
      <button class="btn btn-default btn-lg"
              ng-click="cookbook.addRecipe()"
              ng-disabled="recipeForm.$invalid">Save</button>
      <button class="btn btn-default btn-lg"
              ng-click="cookbook.getNutrition()"
              ng-disabled="!cookbook.newRecipe.ingredients">Get Nutrition Facts</button>
    </div>
  </form>

  <div class="col-md-4 col-md-offset-1" ng-hide="cookbook.loading">
    <nutrition nutrition="cookbook.eNutri"></nutrition>
  </div>

  <div ng-show="cookbook.loading"
       class="col-md-4 col-md-offset-1 text-center spinner" id="spinner">
  </div>
  
</div>  