<h1 class="lobster ml30">Add Recipe</h1>
<div class="row">
  <form name="recipeForm" class="form col-md-6">
    <div class="mb10 mt15">
      <div class="input-group input-group-lg col-md-offset-1">
        <span class="input-group-addon"
              id="sizing-addon1">Name</span>
        <input type="text"
               class="form-control"
               ng-model="cookbook.newRecipe.name"
               required>
      </div>
    </div>
    <div class="mb10">
      <div class="input-group input-group-lg col-md-offset-1">
        <span class="input-group-addon" id="sizing-addon1">Ingredients</span>
        <textarea style="height:200px"
                  type="text"
                  class="form-control"
                  ng-model="cookbook.newRecipe.ingredients" required></textarea> 
      </div>
    </div>
    <div class="mb10">
      <div class="input-group input-group-lg col-md-offset-1">
        <span class="input-group-addon"
              id="sizing-addon1">Directions</span>  
        <textarea style="height:200px"
                  type="text"
                  class="form-control"
                  ng-model="cookbook.newRecipe.directions" required></textarea>
      </div>
    </div>
    <div class=" col-md-offset-1 text-center">
      <button class="btn btn-default btn-lg"
              ng-click="cookbook.addRecipe()"
              ng-disabled="recipeForm.$invalid">Save</button>
      <button class="btn btn-default btn-lg"
              ng-click="cookbook.getNutrition()"
              ng-disabled="!cookbook.newRecipe.ingredients">Get Nutrition Facts</button>
    </div>
  </form>

<div class="col-md-6 mt15">
  <div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{active: cookbook.tableState}" ng-click="cookbook.tableTab()"><a>Table</a></li>
      <li role="presentation" ng-class="{active: cookbook.chartState}" ng-click="cookbook.chartTab()"><a>Chart</a></li>
    </ul>
  </div>
  <div class="col-md-10 col-md-offset-1" ng-hide="cookbook.loading">
      <div class="mt15 mb15 ml15 mr15" ng-show="cookbook.display">
        <nutrition nutrition="cookbook.eNutri"></nutrition>
      </div>
      <div class="mt15 ml15 mr15" ng-hide="cookbook.display">
        <chart chart="cookbook.eNutri"></chart>
      </div>
  </div>
  <div ng-show="cookbook.loading"
    class="col-md-10 col-md-offset-1 text-center spinner" id="spinner">
  </div>
</div>
  
</div>  