<div class="jumbotron">
  <div class="container home">
    <div class="inline-block left-width">
      <img src="../assets/pug.png">
    </div><!--
 --><div class="inline-block right-width">
      <div class="inline-block">
        <h1 class="lobster">foodleDoo</h1>
        <!-- <span class="ml45">Your recipe tracker</span> -->
      </div>
      <div class="mt15 ml15">
        <a ui-sref="login">
          <div class="inline-block login mr10 text-center">
            Login
          </div><!--
     --></a><!--
     --><a ui-sref="register"><!--
       --><div class="inline-block login text-center">
            Sign Up
          </div>
        </a>
      </div>
    </div>
  </div>
  <hr class="ml15 mr15">
  <div class="container-bottom">
    <div class="text-center howto inline-block">
      <span style="color:#FA8B60; font-size:15px">How it works</span>
    </div>
  <!--   <div class="howto clearfix col-md-2 col-md-offset-5">
      <span style="color:#FA8B60; font-size:15px"><strong>How it works</strong></span>
    </div> -->
    <div class="container" style="height:85px"></div>
    <div class="container">
      <div class="col-md-4 text-center">
        <div class="circle inline-block">
          <i class="icon-user-add icon-fontello"></i>
        </div>
        <div class="mt30" style="font-size:24px; color:#FA8B60">
         <span><strong>1.</strong> Sign Up!</span>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="circle inline-block">
          <i class="icon-edit-1 icon-fontello"></i>
        </div>
        <div class="mt30" style="font-size:24px; color:#FA8B60">
         <span><strong>2.</strong> Submit your recipes</span>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="circle inline-block">
          <i class="icon-food icon-fontello"></i>
        </div>
        <div class="mt30" style="font-size:24px; color:#FA8B60">
         <span><strong>3.</strong> Track meal nutrition</span>
        </div>
      </div>
    </div>
 
  </div>
</div>
