<div class="jumbotron">
  <div class="container home">
    <div class="inline-block left-width">
      <img src="../assets/pug.png">
    </div><!--
 --><div class="inline-block right-width">
      <div class="inline-block">
        <h1 class="lobster">foodleDoo</h1>
        <!-- <span class="ml45">Your recipe tracker</span> -->
      </div>
      <div class="mt15 ml15">
        <a ui-sref="login">
          <div class="inline-block login mr10 text-center">
            Login
          </div><!--
     --></a><!--
     --><a ui-sref="register"><!--
       --><div class="inline-block login text-center">
            Sign Up
          </div>
        </a>
      </div>
    </div>
  </div>
  <hr class="ml15 mr15">
  <div class="container-bottom">
    <div class="text-center howto inline-block">
      <span>How to foodleDoo?</span>
    </div>
  </div>
</div>
