<div ng-show="auth.error" class="alert alert-danger row">
  <span>{{ auth.error.message }}</span>
</div>

<div class="form mt10p">
  
  <div class="row mb10 mt15">
    <div class="input-group input-group-lg col-md-6 col-md-offset-3">
      <span class="input-group-addon" id="sizing-addon1">Username</span>
      <input type="text" class="form-control" ng-model="auth.user.username">
    </div>
  </div>
  <div class="row mb10">
    <div class="input-group input-group-lg col-md-6 col-md-offset-3">
      <span class="input-group-addon" id="sizing-addon1">Password</span>
      <input type="password" class="form-control" ng-model="auth.user.password">
    </div>
  </div>

<div class="row">
  <button class="btn btn-default btn-lg col-md-2 col-md-offset-5" ng-click="auth.logIn()">Log In</button>
</div>

<div class="row">
  <span class="col-md-4 col-md-offset-4 mt15 text-center">Don't have an account? <a ui-sref="register">Register here</a></span>
</div>