<div class="row">
  <div class="col-md-6 text-bold"><strong>Nutritional Facts</strong></div>
  <div class="col-md-6 text-right"><strong>yield: {{nutrition.yield}}</strong></div>
</div>
<table class="table col-md-4 mt15">
  <tr>
    <th class="text-left">Content</th>
    <th class="text-center">Quantity</th>
    <th class="text-right">% Daily Value</th>
  </tr>
  <tr ng-repeat="nutrient in nutrientsData">
    <td class="text-left">{{nutrient.label}}</td>
    <td class="text-center">{{nutrient.quantity +' '+ nutrient.unit}}</td>
    <td class="text-right">{{nutrient.dailyPercent}}<span ng-hide="nutrient.dailyPercent === 'N/A'">%</span></td>
  </tr>
</table>
<div class="container col-md-4" ng-repeat="label in nutrition.labels">
  <h2 class="label label-info">{{label}}</h2>
</div>
