body {
  background-color: #FBFBFB;
}
.ml5 {
  margin-left: 5px;
}
.mr5 {
  margin-right: 5px;
}
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.mt15 {
  margin-top: 15px;
}
.mb15 {
  margin-bottom: 15px;
}
.ml30 {
  margin-left: 30px;
}
.mr30 {
  margin-right: 30px;
}
.mt30 {
  margin-top: 30px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb0 {
  margin-bottom: 0px;
}
.ml45 {
  margin-left: 45px;
}
.mt10p {
  margin-top: 10%;
}

.navbar {
  border-radius: 0;
  border: none;
  color: #FFFFFF;
}
.navbar-top {
  background-color: #FA8B60;
  border-bottom: 3px solid #E06738;
}
.navbar-bottom {
  background-color: #F07E51;
}
.navbar-brand {
  font-size: 24px;
}
.lobster {
  font-family: 'Lobster';
}
.jumbotron {
  background-color: #FBFBFB;
}
.jumbotron h1 {
  font-size: 11em;
}
.inline-block {
  display: inline-block;
}
.left-width {
  width: 40%;
}
.left-width img {
  max-width: 100%;
  max-height: 100%;
}
.right-width {
  width: 60%;
  position: absolute;
  top: 20%;
}
.login {
  background-color: #FA8B60;
  color: #FFF;
  padding: 10px 25px;
  font-size: 18px;
  width: 200px;
}
.login:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  background-color: #E06738;
}
.container-bottom {
  position: relative;
  text-align: center;
}
.container.home {
  position: relative;
}
hr {
  margin-top: 150px;
  border: none;
  height: 1px;
  color: #d5d5d5;
  background-color: #d5d5d5;
}
.howto {
  border: 1px;
  border-style: solid;
  border-color: #FA8B60;
  border-radius: 25px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
}
.thumbnail {
  padding-bottom: 20px;
}
nutrition h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.container {
  width: 100%;
}
.clearfix {
  overflow: auto;
}
.spinner {
  position: relative;
  height: 400px;
}
.circle {
  background-color: #FA8B60;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.icon-fontello {
font-size: 100px;
color: white;
line-height: 200px;
vertical-align: middle;
text-align: center;
}